
<div>
    <h2> PAGINA REGISTRO </h2>
    <br>
    <div class="alert alert-success" role="alert">
        <form action="/api/autenticacion/signup" method="post" onsubmit="process(evento)" id="login" enctype="multipart/form-data">
            <div>
                <h3>Ingrese sus datos para poder registrarse</h3>
                <br>
                <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
                <input type="email" name="email" placeholder="Ingrese su email" required>
                <input type="password" name="contraseña" placeholder="Ingrese su contraseña" required>
                <input type="number" name="edad" placeholder="Ingrese su edad" required>
                <input type="text" name="direccion" placeholder="Ingrese su direccion" required>
                <br>
                <input id="telefono" type="tel" name="telefono" placeholder="Ingrese su N° de telefono" required/>
                <input type="submit" class="btn" value="Verify"/>
                <br>
                <div class="alert alert-info" style="display: none;"></div>
                <br>
                <input type="file" name="avatar" placeholder="Ingrese su foto/avatar" required/>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
        <br>
        <div>
            <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Iniciar sesion</button>
        </div>
    </div>
</div>

<script>
    import intlTelInput from 'intl-tel-input';

    const inputEntradaTel = document.querySelector("#telefono");

    const inputTelefono = window.intlTelInput(inputEntradaTel, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["ar", "co", "es", "de"]
    });

    const info = document.querySelector(".alert-info");

    function process(evento) {
        evento.preventDefault();

        const numeroTelefono = inputTelefono.getNumber();

        info.style.display = "";
        info.innerHTML = `Su numero de telefono en el formato E.164: <strong>${numeroTelefono}</strong>`;
    }

    
    // const numeroTelUsuario = await DaoUsuario.obtenerNumero({ 'telefono': telefono });
</script>


