

<div>
    <h2> REGISTRARSE </h2>
    <br>
    <div class="alert alert-success" role="alert">
        <form action="/api/autenticacion/signup" method="post" onsubmit="process(event)" id="login" enctype="multipart/form-data">
            <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
            <input type="email" name="email" placeholder="Ingrese su email" required>
            <input type="password" name="contraseña" placeholder="Ingrese su contraseña" required>
            <input type="number" name="edad" placeholder="Ingrese su edad" required>
            <input type="text" name="direccion" placeholder="Ingrese su direccion" required>
            <br>
            <input id="telefono" type="tel" name="telefono" placeholder="Ingrese su N° de telefono" required/>
            <input type="submit" class="btn" value="Verify"/>
            <br>
            <div class="alert alert-info" style="display: none;"></div>
            <br>
            <input type="file" name="avatar" placeholder="Ingrese su foto/avatar" required/>

            <br>
            <form action="/api/carrito/" method="post">  // api/autenticacion/signup // api/compra/
                <h4>compra productos</h4>
                <input type="checkbox" name="carrito[]" value="aceite">producto Nro1
                <input type="checkbox" name="carrito[]" value="fideos">producto Nro2
                <input type="checkbox" name="carrito[]" value="azucar">producto Nro3
                <input type="checkbox" name="carrito[]" value="arroz">producto Nro4
                <input type="checkbox" name="carrito[]" value="sal">producto Nro5
                <input type="checkbox" name="carrito[]" value="harina">producto Nro6
                <hr>
                <button class="btn btn-info" type="submit">comprar</button>
            </form>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
        <hr>
        <div>
            <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Iniciar sesion</button>
        </div>
    </div>
</div>

<script>
    import intlTelInput from 'intl-tel-input';

    const inputEntradaTel = document.querySelector("#telefono");

    const inputTelefono = window.intlTelInput(inputEntradaTel, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["ar", "co", "es", "de"]
    });

    const info = document.querySelector(".alert-info");

    function process(evento) {
        evento.preventDefault();

        const numeroTelefono = inputTelefono.getNumber();

        info.style.display = "";
        info.innerHTML = `Su numero de telefono en el formato E.164: <strong>${numeroTelefono}</strong>`;
    }
</script>











{{!-- 





<div>
    <h2> REGISTRARSE </h2>
    <br>
    <div class="alert alert-success" role="alert">
        <form action="/api/autenticacion/signup" method="post">
            <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
            <input type="email" name="email" placeholder="Ingrese su email" required>
            <input type="password" name="contraseña" placeholder="Ingrese su contraseña" required>
            <input type="number" name="edad" placeholder="Ingrese su edad" required>
            <input type="text" name="direccion" placeholder="Ingrese su direccion" required>
            <br>
            <form action="/api/autenticacion/signup" id="login" onsubmit="process(event)">
                <input id="telefono" type="tel" name="telefono" placeholder="Ingrese su N° de telefono" required/>
                {{!-- <input type="number" name="telefono" placeholder="Ingrese su Nro de telefono" required> --}}
                <input type="submit" class="btn" value="Verify"/>
                <br>
                <div class="alert alert-info" style="display: none;"></div>
            </form>
            <br>
            <form action="/api/autenticacion/signup" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" placeholder="Ingrese su foto/avatar" required/>
                {{!-- <input type="text" name="foto" placeholder="Ingrese su foto/avatar" required> --}}
            </form>
            <br>
            <form action="/api/carrito/" method="post">  // api/autenticacion/signup // api/compra/
                <h4>compra productos</h4>
                <input type="checkbox" name="carrito[]" value="aceite">option1
                <input type="checkbox" name="carrito[]" value="fideos">option2
                <input type="checkbox" name="carrito[]" value="azucar">option3
                <input type="checkbox" name="carrito[]" value="arroz">option3
                <input type="checkbox" name="carrito[]" value="sal">option3
                <input type="checkbox" name="carrito[]" value="harina">option3
                <hr>
                <button class="btn btn-info" type="submit">comprar</button>
            </form>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
        <hr>
        <div>
            <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Iniciar sesion</button>
        </div>
    </div>
</div> --}}